:root {
  --serch100: #59BBA6;
  --completed100: #134EC1;
  --inWork100: #F89B11;
  --create100: #F0F5FF;
  --escape100: #314B99;
  --plus100: #314B99;
  --add100: #D6DBEB;
  --placeholder100: #C4C4C4;
  --text100: #16191D;
  --popUp100: #FFFFFF;
}
