.main {
  margin: 10rem 15rem 0 19rem;

  .top_lvl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .title {
      display: flex;

      span {
        align-items: center;
        font-family: 'Montserrat-ExtraLight';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 132%;
      }
    }

    .add_TODO {
      grid-column: aside-end;
      display: inline-block;
      width: 40px;
      height: 40px;
      background: linear-gradient(var(--plus100), var(--plus100), var(--plus100)),
      linear-gradient(var(--plus100), var(--plus100), var(--plus100)),
      var(--add100);
      background-position: center;
      background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat: no-repeat;
      border-radius: 50%;

      .add {

      }
    }

  }

  .sorted {
   display: grid;
    grid-template-columns: 70% 30%;


    align-items: end;
    .search {
      width: 70%;


    }
  }
}
